* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #050505;
    font-family: "Open Sans", sans-serif;
}

/* Хедер */

.header {
    padding-top: 35px;
    padding-left: 70px;
    padding-right: 70px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 35px;

    border-bottom: 1px solid #ffffff;
}

/* Логотип */

.logo {
    display: flex;
    align-items: center;
    gap: 30px;

    text-decoration: none;
    color: white;
}

.logo img {
    width: 64px;
    height: 64px;
}

.logo span {
    font-size: 33px;
    font-weight: 700;
    line-height: 1;
}

/* About Me */

.about-link {
    text-decoration: none;

    color: white;

    font-size: 33px;
    font-weight: 700;

    line-height: 1;
}
